<div class="container-fluid h-100">
  <div class="row h-100">
    {{>dashboardNav}}
    <div class="col-sm-9 col-md-10">
      <div style="padding: 30px">
        <h3>Edit User</h3>
        <hr>
        <div class="card">
          <div style="padding: 20px">
            <form id="form">
              <div id="formFields"></div>
              <button id="update" type="submit" class="btn btn-primary">Update</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="/public/scripts/users/edit.js"></script>
<script>
  joiFormValue('name', '{{editUser.name}}');
  joiFormValue('email', '{{editUser.email}}');
  joiFormValue('username', '{{editUser.username}}');
  $('#update').click((event) => {
    event.preventDefault();
    const values = {};
    $.each($('#form').serializeArray(), (i, field) => {
      values[field.name] = field.value;
    });
    $.ajax({
      type: 'PUT',
      url: '/api/users/{{editUser._id}}',
      data: values,
      success: function (result) {
        window.location = '/users'
      },
      error: function (result) {
        errorAlert(result.responseJSON.message);
      }
    });
  });
</script>
