<div class="container-fluid h-100">
  <div class="row h-100">
    {{>dashboardNav}}
    <div class="col-sm-9 col-md-10">
      <div style="padding: 30px">
        <h3>Users</h3>
        {{#role user 'researcher'}}
          <a class="btn btn-primary" href="/users/create">Create</a>
        {{/role}}
        <hr>
        <div class="card">
          <div style="padding: 20px">
            <table id="userTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
              <thead>
              <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>StudyID</th>
                <th>Joined Study</th>
                <th>Users Events</th>
                {{#role user 'admin'}}
                  <th>Users Clinicians</th>
                  <th>ID</th>
                  <th>Update Password</th>
                  <th>Edit</th>
                  <th>Delete</th>
                {{/role}}
              </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var table;
  $(document).ready(function () {
    table = $('#userTable').DataTable({
      processing: true,
      serverSide: true,
      scrollX: true,
      scrollY: '500px',
      scrollCollapse: true,
      lengthChange: false,
      dom: 'Bfrtip',
      buttons: [
        'copy', 'csv', 'excel', 'pdf', 'print','colvis'
      ],
      ajax: {
        url: "/api/table/users",
        data: function (d) {
          d.fields = "name username email studyID timeCreated";
        }
      },
      "columns": [
        {
          data: "name",
          defaultContent: ""
        },
        {
          data: "username",
          defaultContent: ""
        },
        {
          data: "email",
          defaultContent: ""
        },
        {
          data: "studyID",
          render: function (data, type, row) {
            if (row.studyID > 0) {
              return row.studyID;
            }
            return '';
          }
        },
        {
          data: "timeCreated",
          render: function (data, type, row) {
            var date = new Date(row.timeCreated);
            return date.toDateString() + ' ' + date.toLocaleTimeString('en-us');
          }
        },
        {
          data: "_id",
          render: function (data, type, row) {
            return '<button class="btn btn-secondary" onclick="viewUserEvent(\'' + row._id + '\')">View Events</button>';
          }
        },
        {{#role user 'admin'}}
          {
            data: "_id",
            render: function (data, type, row) {
              return '<button class="btn btn-secondary" onclick="viewUserClinicians(\'' + row._id + '\')">Edit Clinicians</button>';
            },
            visible: false
          },
          {
            data: "_id",
            defaultContent: "",
            visible: false
          },
          {
            data: "_id",
            render: function (data, type, row) {
              return '<button class="btn btn-secondary" onclick="viewChangePassword(\'' + row._id + '\')">Change Password</button>';
            },
            visible: false
          },
          {
            data: "_id",
            render: function (data, type, row) {
              return '<button class="btn btn-secondary" id="edit'+row._id+'" onclick="editDoc(\'' + row._id + '\')">Edit</button>';
            },
            visible: false
          },
          {
            data: "_id",
            render: function (data, type, row) {
              return '<button class="btn btn-danger" id="delete'+row._id+'" onclick="deleteDoc(\'' + row._id + '\')">Delete</button>';
            },
            visible: false
          }
        {{/role}}
      ]
    });
  });
</script>
<script type="text/javascript" src="/public/scripts/users/index.js"></script>
