<div class="container-fluid h-100">
  <div class="row h-100">
    {{>dashboardNav}}
    <div class="col-sm-9 col-md-10">
      <div class="container" style="padding-top: 60px">
        <h3>Participation</h3>
        <hr>
        <p>Click on user to change values</p>
        <div class="card">
          <div class="container" style="padding-top: 20px; padding-bottom: 20px">
            <table id="userTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
              <thead>
              <tr>
                <th>Username</th>
                <th>Study ID</th>
                <th>In Study</th>
              </tr>
              </thead>
            </table>
          </div>
        </div>
        <br>
        <div class="card" id="roleCard" style="padding: 20px">
          <table class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
            <tr>
              <th>Username</th>
              <th>Study ID</th>
              <th>In Study</th>
              <th></th>
            </tr>
            <tbody>
            <tr>
              <td id="username">username</td>
              <td>
                <div class="form-group">
                  <input class="form-control" id="studyID" type="number">
                </div>
              </td>
              <td>
                <div class="btn-group" data-toggle="buttons">
                  <label id="inButton" class="btn btn-light">
                    <input type="radio" name="inStudy" id="in" value="in"> In Study
                  </label>
                  <label id="outButton" class="btn btn-light">
                    <input type="radio" name="inStudy" id="out" value="out"> Out of Study
                  </label>
                </div>
              </td>
              <td>
                <button id="update" class="btn btn-primary">Update</button>
              </td>
            </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var userID = "";
  $(document).ready(function () {
    var table = $('#userTable').DataTable({
      "processing": true,
      "serverSide": true,
      "scrollX": true,
      "stateSave": true,
      "ajax": {
        "url": "../api/users",
        "data": function (d) {
          d.fields = "username studyID inStudy";
        }
      },
      "columns": [
        {"data": "username"},
        {
          "data": "studyID",
          "render": function (data, type, row) {
            if (row.studyID) {
              return row.studyID;
            }
            return '<i>No Study ID Assigned</i>';
          },
        },
        {
          "data": "inStudy",
          "render": function (data, type, row) {
            if (row.inStudy) {
              return '<h4><span class="badge badge-success">In Study</span></h4>';
            }
            return '<h4><span class="badge badge-danger">Not In Study</span></h4>';
          },
        },

      ]
    });
    $('#roleCard').hide();
    $('#userTable tbody').on('click', 'tr', function () {
      if ($(this).hasClass('selected')) {
        $(this).removeClass('selected');
      }
      else {
        table.$('tr.selected').removeClass('selected');
        $(this).addClass('selected');
        var rowData = table.row(this).data();
        $('#roleCard').show();
        $('#username').text(rowData.username);
        $('#studyID').val(rowData.studyID);
        if (rowData.inStudy) {
          $('#in').prop("checked", true);
          $('#inButton').addClass('active btn-primary').removeClass('btn-light');
          $('#out').prop("checked", false);
          $('#outButton').addClass('btn-light').removeClass('active btn-primary');
        } else {
          $('#out').prop("checked", true);
          $('#outButton').addClass('active btn-primary').removeClass('btn-light');
          $('#in').prop("checked", false);
          $('#inButton').addClass('btn-light').removeClass('active btn-primary');
        }
        userID = rowData._id;
      }
    });

    $('#inButton').click(function () {
      $('#in').prop("checked", true);
      $('#inButton').addClass('active btn-primary').removeClass('btn-light');
      $('#out').prop("checked", false);
      $('#outButton').addClass('btn-light').removeClass('active btn-primary');
    });

    $('#outButton').click(function () {
      $('#out').prop("checked", true);
      $('#outButton').addClass('active btn-primary').removeClass('btn-light');
      $('#in').prop("checked", false);
      $('#inButton').addClass('btn-light').removeClass('active btn-primary');
    });

    $('#update').click(function () {
      var inStudy = true;
      if ($("input:radio[name ='inStudy']:checked").val() == 'out') {
        inStudy = false;
      }
      var data = {
        studyID: Number($('#studyID').val()),
        inStudy: inStudy
      };
      $.ajax({
        url: "../api/users/" + userID + "/participation",
        type: 'PUT',
        data: data,
        success: function (result) {
          table.ajax.reload();
        },
        error: function (result) {
          errorAlert(result.responseJSON.message);
        }
      });
    });
  });
</script>
