<div class="container-fluid h-100">
  <div class="row h-100">
    {{>dashboardNav}}
    <div class="col-sm-9 col-md-10">
      <div style="padding: 30px">
        <h3>Change Password</h3>
        <hr>
        <div class="card">
          <div style="padding: 20px">
            <form id="form">
              <div id="formFields"></div>
              <button id="change" type="submit" class="btn btn-primary">Change Password</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="/public/scripts/users/password.js"></script>
