<div class="container-fluid h-100">
  <div class="row h-100">
    {{>dashboardNav}}
    <div class="col-sm-9 col-md-10">
      <div style="padding: 30px">
        <h3>Roles</h3>
        <hr>
        <p>Click on user to change permissions</p>
        <div class="card">
          <div style="padding: 20px">
            <table id="userTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
              <thead>
              <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Email</th>
                <th>Clinician</th>
                <th>Analyst</th>
                <th>Researcher</th>
                <th>Admin</th>
                <th>Root</th>
              </tr>
              </thead>
            </table>
          </div>
        </div>
        <br>
        <div class="card" id="roleCard" style="padding: 20px">
          <table class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
            <tr>
              <th>Username</th>
              <th>Clinician</th>
              <th>Analyst</th>
              <th>Researcher</th>
              <th>Admin</th>
              <th>Root</th>
            </tr>
            <tbody>
            <tr>
              <td id="username">username</td>
              <td>
                <button id="clinician" class="btn btn-primary">Promote</button>
              </td>
              <td>
                <button id="analyst" class="btn btn-secondary">Promote</button>
              </td>
              <td>
                {{#if user.roles.root}}
                  <button id="researcher" class="btn btn-info">Promote</button>
                {{else if user.roles.admin}}
                  <button id="researcher" class="btn btn-info">Promote</button>
                {{else}}
                  <button id="researcher" hidden class="btn btn-info">Promote</button>
                {{/if}}
              </td>
              <td>
                {{#if user.roles.root}}
                  <button id="admin" class="btn btn-warning">Promote</button>
                {{else}}
                  <button id="admin" hidden class="btn btn-warning">Promote</button>
                {{/if}}
              </td>
              <td id="root"></td>
            </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="/public/scripts/users/roles.js"></script>
