{
  "extends": [
    "hapi"
  ],
  "rules": {
    "indent": ["error", 2],
    "no-multiple-empty-lines": ["error", { "max": 1, "maxBOF": 0, "maxEOF": 0 }]
  },
  "parserOptions": {
    "ecmaVersion": 2017
  }
}
