<div class="container-fluid h-100">
  <div class="row h-100">
    {{>dashboardNav}}
    <div class="col-sm-9 col-md-10">
      <div style="padding: 30px">
        <h3>Clinician</h3>
        <hr>
        <div class="row">
          <div class="col-sm-4">
            <select id="clinicians" style="width: 100%">
            </select>
          </div>
          <div class="col-sm-3">
            <div class="btn btn-primary" id="addClinician">Add Clinician</div>
          </div>
        </div>
        <br>
        <p>This table will show the clinicians that have access to your personal health information. You can add one above by searching for one.</p>
        <div class="card">
          <div style="padding: 20px;">
            <table id="table" class="table table-striped table-bordered" cellspacing="0" width="100%">
              <thead>
              <tr>
                <th>Name</th>
                <th>Remove Access</th>
              </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="/public/scripts/clinician.js"></script>
