<div class="container-fluid h-100">
  <div class="row h-100">
    {{>dashboardNav}}
    <div class="col-sm-9 col-md-10">
      <div style="padding: 30px">
        <h3>Templates</h3>
        <a class="btn btn-primary" href="/templates/create">Create</a>
        <hr>
        <div class="card">
          <div style="padding: 20px">
            <table id="userTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
              <thead>
              <tr>
                  <th>Username</th>
                  <th>Name</th>
                  <th>Study ID</th>
                  <th>Template Name</th>
                <th>Created At</th>
                {{#role user 'admin'}}
                  <th>Edit</th>
                  <th>Delete</th>
                {{/role}}
              </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var table;
  $(document).ready(function () {
    table = $('#userTable').DataTable({
      processing: true,
      serverSide: true,
      scrollX: true,
      scrollY: '500px',
      scrollCollapse: true,
      lengthChange: false,
      dom: 'Bfrtip',
      buttons: [
        'copy', 'csv', 'excel', 'pdf', 'print','colvis'
      ],
      ajax: {
        url: "/api/table/templates",
        data: function (d) {
          d.fields = "username name name time studyID userId";
        }
      },
      "columns": [
        {
          data: "user.username",
          defaultContent: ""
        },
        {
          data: "user.name",
          defaultContent: ""
        },
        {
          data: "user.studyID",
          defaultContent: ""
        },
        {
          data: "name",
          defaultContent: ""
        },
        {
          data: "time",
          render: function (data, type, row) {
            var date = new Date(row.time);
            return date.toDateString() + ' ' + date.toLocaleTimeString('en-us');
          }
        },
        {{#role user 'admin'}}
          {
            data: "_id",
            visible: false,
            render: function (data, type, row) {
              return '<button class="btn btn-secondary" id="edit'+row._id+'" onclick="editDoc(\'' + row._id + '\')">Edit</button>';
            },
          },
          {
            data: "_id",
            visible: false,
            render: function (data, type, row) {
              return '<button class="btn btn-danger" id="delete'+row._id+'" onclick="deleteDoc(\'' + row._id + '\')">Delete</button>';
            },

          }
        {{/role}}
      ]
    });
  });
</script>
<script type="text/javascript" src="/public/scripts/templates/index.js"></script>
