<div class="container" style="padding-top: 60px">
  <div class="row justify-content-center">
    <div class="col-xl-6 col-lg-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Forgot Password</h4>
          <form id="loginForm">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" class="form-control" name="email" id="email" aria-describedby="usernameHelp"
                     placeholder="Enter email">
              <small id="usernameHelp" class="form-text text-muted">We will send an email with instructions on how to update your password.</small>
            </div>
            <button id="Submit" type="submit" class="btn btn-primary">Submit</button>
            <button id="cancel" type="submit" class="btn btn-warning">Cancel</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  body {
    background-color: #bbb;
  }
</style>
<script>
  $('#cancel').click(function (e) {
    e.preventDefault();
    window.location.pathname = 'login';
  })
</script>
