<div class="container" style="padding-top: 60px">
  <div class="row justify-content-center">
    <div class="col-xl-6 col-lg-6">


      <div id="emailCard" class="card">
        <div class="card-body">
          <h4 class="card-title">Forgot Password</h4>
          <form id="loginForm">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" class="form-control" name="email" id="email" aria-describedby="usernameHelp"
                     placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We will send an email with instructions on how to update your password.</small>
            </div>
            <button id="submit" type="submit" class="btn btn-primary">Submit</button>
            <button id="cancel" type="submit" class="btn btn-warning">Cancel</button>
          </form>
        </div>
      </div>

      <div id="keyCard" class="card" style="display: none">
        <div class="card-body">
          <h4 class="card-title">Reset Password</h4>
          <form id="resetPasswordForm">
            <!--<div class="form-group">-->
            <!--<label for="oldPassword">Old Password</label>-->
            <!--<input type="password" class="form-control" name="oldPassword" id="oldPassword" placeholder="Old Password" required>-->
            <!--</div>-->
            <!--<hr>-->
            <div class="form-group">
              <label for="key">Key</label>
              <input type="text" class="form-control" name="ke" id="key" aria-describedby="usernameHelp"
                     placeholder="Enter Key">
              <small id="usernameHelp" class="form-text text-muted">
                Please enter the key that was sent to your email.
              </small>
            </div>
            <hr>
            <div class="form-group">
              <label for="password">New Password</label>
              <input type="password" class="form-control" name="password" id="password" placeholder="New Password" required>
            </div>
            <div class="form-group">
              <label for="confirmpassword">Confirm New Password</label>
              <input type="password" class="form-control" name="confirmpassword" id="confirmpassword"
                     placeholder="New Password" required>
            </div>
            <button id="update" type="submit" class="btn btn-primary">Update</button>
            <button id="goBack" type="submit" class="btn btn-warning">Go Back</button>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
<style>
  body {
    background-color: #bbb;
  }
</style>
<script>
  var email, key, password;

  $('#submit').click(function (e) {
    e.preventDefault();
    email = $('#email');
    if (email.val() == '') {
      errorAlert('Please enter your email.');
    } else {
      $.ajax({
        type: 'POST',
        url: '../api/login/forgot',
        data: {email:email.val()},
        success: function () {
          console.log('Success');

          document.getElementById('submit').innerHTML = '<i class="fa fa-circle-o-notch fa-spin" style="font-size:20px"></i>'

          setTimeout(function () {
            document.getElementById('emailCard').style.display = 'none';
            document.getElementById('keyCard').style.display = 'block';
          }, 1000);
        },
        error: function () {
          errorAlert('The email you entered is invalid or not found in our records.');
        }
      });
    }
  });

  $('#update').click(function (e) {
    e.preventDefault();

    if (!filled([$('#key'),$('#password'), $('#confirmpassword')])) {
      errorAlert('Please fill in all of the fields.');
    } else if (!passwordCheck($('#password'), $('#confirmpassword'))) {
      errorAlert('Passwords do not match!');
    } else {
      key = $('#key');
      password = $('#password');
      $.ajax({
        type: 'POST',
        url: '../api/login/reset',
        data: {
          key: key,
          email: email,
          password: password
        },
        success: function (result) {
          window.location.pathname = '/';
        },
        error: function (result) {
          errorAlert('The key does not match the one that was sent.');
        }
      });
    }
  });

  $('#goBack').click(function (e) {
    e.preventDefault();

    $('#key').val('');
    $('#password').val('');
    $('#confirmpassword').val('');
    document.getElementById('emailCard').style.display = 'block';
    document.getElementById('keyCard').style.display = 'none';
  });

  $('#cancel').click(function (e) {
    e.preventDefault();

    window.location.pathname = 'login';
  });

  function passwordCheck(password, confirmpassword) {
    if (password.val() === confirmpassword.val()) {
      return true;
    }
    return false;
  }

  // Check if array of fields are filled; fields = [$(selector), $(selector), ...]
  function filled(fields) {
    for (var i = 0; i < fields.length; i++) {
      if (fields[i].val() === '') {
        return false;
      }
    }
    return true;
  }
</script>
