<div class="container-fluid h-100">
  <div class="row h-100">
    {{>dashboardNav}}
    <div class="col-sm-9 col-md-10">
      <div style="padding: 30px">
        <h3>Tokens</h3>
        {{#role user 'researcher'}}
          <a class="btn btn-primary" href="/tokens/create">Create</a>
        {{/role}}
        <hr>
        <div class="card">
          <div style="padding: 20px">
            <table id="table" class="table table-striped table-bordered" cellspacing="0" width="100%">
              <thead>
              <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Token Name</th>
                <th>Token</th>
                <th>Active</th>
                <th>Last Used</th>
                <th>Time</th>
                <th>Edit</th>
                {{#role user 'admin'}}
                  <th>Delete</th>
                {{/role}}
              </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var table;
  $(document).ready(function () {
    table = $('#table').DataTable({
      processing: true,
      serverSide: true,
      scrollX: true,
      scrollY: '500px',
      scrollCollapse: true,
      lengthChange: false,
      dom: 'Bfrtip',
      buttons: [
        'copy', 'csv', 'excel', 'pdf', 'print','colvis'
      ],
      ajax: {
        url: "/api/table/tokens",
        data: function (d) {
          d.fields = "name username userId studyID inStudy tokenName token lastUsed time active";
        }
      },
      columns: [
        {
          data: "user.username",
          defaultContent: "Nonregistered user"
        },
        {
          data: "user.name",
          defaultContent: "Nonregistered user"
        },
        {
          data: "name",
          defaultContent: ""
        },
        {
          data: "token",
          defaultContent: "",
          visible: false
        },
        {
          data: "active",
          render: function (data, type, row) {
            if(row.active) {
              return '<h4><span class="badge badge-success">Active</span></h4>';
            } else {
              return '<h4><span class="badge badge-danger">Inactive</span></h4>';
            }
          }
        },
        {
          data: "lastUsed",
          render: function (data, type, row) {
            if(row.lastUsed) {
              var date = new Date(row.lastUsed);
              return date.toDateString() + ' ' + date.toLocaleTimeString('en-us');
            } else {
              return '';
            }
          }
        },
        {
          data: "time",
          render: function (data, type, row) {
            var date = new Date(row.time);
            return date.toDateString() + ' ' + date.toLocaleTimeString('en-us');
          }
        },
        {
          data: "_id",
          render: function (data, type, row) {
            return '<button class="btn btn-secondary" id="edit'+row._id+'" onclick="editDoc(\'' + row._id + '\')">Edit</button>';
          },
          visible: false
        },
        {{#role user 'admin'}}
          {
            data: "_id",
            render: function (data, type, row) {
              return '<button class="btn btn-danger" id="delete'+row._id+'" onclick="deleteDoc(\'' + row._id + '\')">Delete</button>';
            },
            visible: false
          }
        {{/role}}
      ]
    });
  });
</script>
<script type="text/javascript" src="/public/scripts/tokens/index.js"></script>
