<div class="container-fluid h-100">
  <div class="row h-100">
    {{>dashboardNav}}
    <div class="col-sm-9 col-md-10">
      <div class="container" style="padding-top: 60px">
        <h3>Backup</h3>
        <hr>
        <div class="row">
          <div class="col-md-2 col-xs-6">
            <button class="btn btn-primary" onclick="backup()">Create Backup</button>
          </div>
          <div class="col-md-2 col-xs-6">
            <button class="btn btn-secondary" onclick="clean()">Sync Backups</button>
          </div>
        </div>
        <br>
        <div class="card">
          <div class="container" style="padding-top: 20px; padding-bottom: 20px">
            <table id="table" class="table table-striped table-bordered" cellspacing="0" width="100%">
              <thead>
              <tr>
                <th>ID</th>
                <th>Backup ID</th>
                <th>Zip</th>
                <th>Time</th>
                <th>Restore</th>
                <th>Delete</th>
              </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var table;
  $(document).ready(function () {
    table = $('#table').DataTable({
      "processing": true,
      "serverSide": true,
      "scrollX": true,
      "scrollY": "500px",
      "scrollCollapse": true,
      "stateSave": true,
      "ajax": {
        "url": "../api/backups",
        "data": function (d) {
          d.fields = "backupId zip s3 time";
        }
      },
      "columns": [
        {
          "data": "_id",
          "defaultContent": ""
        },
        {
          "data": "backupId",
          "defaultContent": ""
        },
        {
          "data": "zip",
          "render": function (data, type, row) {
              if(row.zip) {
                  return '<span class="badge badge-success">Completed</span>'
              }
              return '<span class="badge badge-danger">Failed</span>'
          }
        },
        {
          "data": "time",
          "render": function (data, type, row) {
            var date = new Date(row.time);
            return date.toDateString() + ' ' + date.toLocaleTimeString('en-us');
          }
        },
        {
          "data": "_id",
          "render": function (data, type, row) {
            return '<button class="btn btn-primary" id="restore'+row._id+'" onclick="restore(\'' + row._id + '\')">Restore</button>';
          }
        },
        {
          "data": "_id",
          "render": function (data, type, row) {
            return '<button class="btn btn-danger" id="delete'+row._id+'" onclick="deleteDoc(\'' + row._id + '\')">Delete</button>';
          }
        }
      ]
    });
  });

  function restore(id) {
    var button = $('#restore' + id);
    if(button.text() === 'Restore') {
      button.text('Are You Sure?')
    } else {
      $.ajax({
        url: '../api/backups/' + id,
        type: 'PUT',
        success: function (result) {
          successAlert('Backup Restored');
          table.ajax.reload();
        },
        error: function (result) {
          errorAlert(result.responseJSON.message);
        }
      });
    }
  }

  function deleteDoc(id) {
    var button = $('#delete' + id);
    if(button.text() === 'Delete') {
      button.text('Are You Sure?')
    } else {
      $.ajax({
        url: '../api/backups/' + id,
        type: 'DELETE',
        success: function (result) {
          successAlert('Backup Deleted');
          table.ajax.reload();
        },
        error: function (result) {
          errorAlert(result.responseJSON.message);
        }
      });
    }
  }

  function backup() {
    $.ajax({
      url: '../api/backups',
      type: 'POST',
      success: function (result) {
        successAlert('Backup Created');
        table.ajax.reload();
      },
      error: function (result) {
        errorAlert(result.responseJSON.message);
      }
    });
  }

  function clean() {
    $.ajax({
      url: '../api/backups/refresh',
      type: 'GET',
      success: function (result) {
        successAlert('Backup Synced');
        table.ajax.reload();
      },
      error: function (result) {
        errorAlert(result.responseJSON.message);
      }
    });
  }
</script>
