<!DOCTYPE html>
<html class="h-100">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{projectName}} - Web Portal</title>
  <base href="{{baseUrl}}">
  <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
  <script src="/public/js/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
  <script src="/public/js/popper.js"></script>
  <script src="/public/js/bootstrap.min.js"></script>
  <script src="/public/js/nav-active.js"></script>
  <script src="/public/js/mustache.min.js"></script>
  <script src="/public/js/joi-browser.js"></script>
  <script src="/public/js/formGenerator.js"></script>
  <script src="/public/js/moment.js"></script>
  <script src="/public/js/chart.min.js"></script>
  <!-- Data tables -->
  <link rel="stylesheet" type="text/css" href="/public/css/datatables/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" type="text/css" href="/public/css/datatables/buttons.bootstrap4.min.css">
  <link rel="stylesheet" type="text/css" href="/public/css/select2.min.css">
  <script src="/public/js/datatables/jquery.dataTables.min.js"></script>
  <script src="/public/js/datatables/dataTables.bootstrap4.min.js"></script>
  <script src="/public/js/datatables/dataTables.buttons.min.js"></script>
  <script src="/public/js/datatables/buttons.bootstrap4.min.js"></script>
  <script src="/public/js/datatables/jszip.min.js"></script>
  <script src="/public/js/datatables/pdfmake.min.js"></script>
  <script src="/public/js/datatables/vfs_fonts.js"></script>
  <script src="/public/js/datatables/buttons.colVis.min.js"></script>
  <script src="/public/js/datatables/buttons.html5.min.js"></script>
  <script src="/public/js/datatables/buttons.print.min.js"></script>
  <script src="/public/js/select2.full.min.js"></script>


</head>
<body class="bg-light h-100">
{{> nav}}
{{> notification}}
{{{content}}}
</body>
</html>
