<!DOCTYPE html>
<html class="h-100">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Anchor</title>
  <link href="../public/css/bootstrap.min.css" rel="stylesheet">
  <link href="../public/css/datepicker.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="../public/js/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
  <script src="../public/js/bootstrap.min.js"></script>
  <script src="../public/js/datepicker.min.js"></script>
  <script src="../public/js/nav-active.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap4.min.css">
  <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>
  <script type="text/javascript" charset="utf8"
          src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js"></script>
</head>
<body class="bg-light h-100">
{{> nav}}
{{> notification}}
{{{content}}}
</body>
</html>
