<div class="container-fluid h-100">
  <div class="row h-100">
    {{>dashboardNav}}
    <div class="col-sm-9 col-md-10">
      <div class="container" style="padding-top: 60px">
        <h3>Feedback</h3>
        <hr>
        <div class="card">
          <div class="container" style="padding-top: 20px; padding-bottom: 20px">
            <table id="table" class="table table-striped table-bordered" cellspacing="0" width="100%">
              <thead>
              <tr>
                <th>Username</th>
                <th>Study ID</th>
                <th>Subject</th>
                <th>Description</th>
                <th>Resolved</th>
                <th>Time</th>
                {{#if user.roles.admin}}
                  <th>Delete</th>
                {{/if}}
              </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var table;
  $(document).ready(function () {
    table = $('#table').DataTable({
      "processing": true,
      "serverSide": true,
      "scrollX": true,
      "stateSave": true,
      "ajax": {
        "url": "../api/feedback",
        "data": function (d) {
          d.fields = "username userId studyID inStudy subject description resolved time";
        }
      },
      "columns": [
        {
          "data": "user.username",
          "defaultContent": "Nonregistered user"
        },
        {
          "data": "user.studyID",
          "render": function (data, type, row) {
            if(row.user) {
              if(row.user.studyID === 0) {
                return '';
              } else {
                return row.user.studyID;
              }
            } else {
              return '';
            }
          }
        },
        {
          "data": "subject",
          "defaultContent": ""
        },
        {
          "data": "description",
          "defaultContent": ""
        },
        {
          "data": "resolved",
          "render": function (data, type, row) {
            if(row.user.resolved) {
              return '<h5><span class="badge badge-success">Resolved</span></h5>';
            } else {
              return '<h5><span class="badge badge-danger">Unresolved</span></h5>';
            }
          }
        },
        {
          "data": "time",
          "render": function (data, type, row) {
            var date = new Date(row.time);
            return date.toDateString() + ' ' + date.toLocaleTimeString('en-us');
          }
        },
        {{#if user.roles.admin}}
          {
            "data": "_id",
            "render": function (data, type, row) {
              return '<button class="btn btn-danger" id="'+row._id+'" onclick="deleteDoc(\'' + row._id + '\')">Delete</button>';
            }
          }
        {{/if}}
      ]
    });
  });
</script>
<script type="text/javascript" src="../../public/scripts/feedback.js"></script>
