<div class="alert" role="alert" id="alert" style="position: fixed;
    top: 7.5%;
    left: 10%;
    height: 50px;
    width: 80%;
    z-index: 999999">
  <button type="button" class="close" aria-label="Close" onclick="$('#alert').hide()">
    <span aria-hidden="true">&times;</span>
  </button>
  <p id="alertText"></p>
</div>
<script>$(".alert").alert()</script>
<script>
  $(function () {
    $('#alert').hide();
  });
  function successAlert(message) {
    var alert = $('#alert');
    alert.addClass('alert-success').removeClass('alert-danger');
    $('#alertText').text(message);
    alert.show().slideDown();
  }

  function errorAlert(message) {
    var alert = $('#alert');
    alert.addClass('alert-danger').removeClass('alert-success');
    $('#alertText').text(message);
    alert.show().slideDown();
  }
</script>
