<div class="container-fluid h-100">
  <div class="row h-100">
    {{>dashboardNav}}
    <div class="col-sm-9 col-md-10">
      <div class="container" style="padding-top: 60px">
        <h3>Authentication Attempts</h3>
        <hr>
        <div class="card">
          <div class="container" style="padding-top: 20px; padding-bottom: 20px">
            <table id="table" class="table table-striped table-bordered" cellspacing="0" width="100%">
              <thead>
              <tr>
                <th>Username</th>
                <th>Application</th>
                <th>IP</th>
                <th>Time</th>
                {{#if user.roles.admin}}
                  <th>ID</th>
                  <th>Delete</th>
                {{/if}}
              </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var table;
  $(document).ready(function () {
    table = $('#table').DataTable({
      "processing": true,
      "serverSide": true,
      "scrollX": true,
      "stateSave": true,
      "ajax": {
        "url": "../api/auth-attempts",
        "data": function (d) {
          d.fields = "username application ip time";
        }
      },
      "columns": [
        {
          "data": "username",
          "defaultContent": ""
        },
        {
          "data": "application",
          "defaultContent": ""
        },
        {
          "data": "ip",
          "defaultContent": ""
        },
        {
          "data": "time",
          "render": function (data, type, row) {
            var date = new Date(row.time);
            return date.toDateString() + ' ' + date.toLocaleTimeString('en-us');
          }
        },
        {{#if user.roles.admin}}
          {
            "data": "_id",
            "defaultContent": ""
          },
          {
            "data": "_id",
            "render": function (data, type, row) {
              return '<button class="btn btn-danger" id="'+row._id+'" onclick="deleteDoc(\'' + row._id + '\')">Delete</button>';
            }
          }
        {{/if}}
      ]
    });
  });
</script>
<script type="text/javascript" src="../../min-js/authAttempts.min.js"></script>
