<div class="container-fluid h-100">
  <div class="row h-100">
    {{>dashboardNav}}
    <div class="col-sm-9 col-md-10">
      <div style="padding: 30px">
        <h3>Authentication Attempts</h3>
        <hr>
        <div class="card">
          <div style="padding: 20px">
            <table id="table" class="table table-striped table-bordered" cellspacing="0" width="100%">
              <thead>
              <tr>
                <th>Username</th>
                <th>Application</th>
                <th>IP</th>
                <th>Time</th>
                {{#role user 'admin'}}
                  <th>ID</th>
                  <th>Delete</th>
                {{/role}}
              </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var table;
  $(document).ready(function () {
    table = $('#table').DataTable({
      processing: true,
      serverSide: true,
      scrollX: true,
      lengthChange: false,
      dom: 'Bfrtip',
      buttons: [
        'copy', 'csv', 'excel', 'pdf', 'print','colvis'
      ],
      ajax: {
        url: "/api/table/auth-attempts",
        data: function (d) {
          d.fields = "username application ip time";
        }
      },
      columns: [
        {
          data: "username",
          defaultContent: ""
        },
        {
          data: "application",
          defaultContent: ""
        },
        {
          data: "ip",
          defaultContent: ""
        },
        {
          data: "time",
          render: function (data, type, row) {
            var date = new Date(row.time);
            return date.toDateString() + ' ' + date.toLocaleTimeString('en-us');
          }
        },
        {{#role user 'admin'}}
          {
            data: "_id",
            defaultContent: "",
            visible: false
          },
          {
            data: "_id",
            render: function (data, type, row) {
              return '<button class="btn btn-danger" id="'+row._id+'" onclick="deleteDoc(\'' + row._id + '\')">Delete</button>';
            },
            visible: false
          }
        {{/role}}
      ]
    });
  });
</script>
<script type="text/javascript" src="/public/scripts/authAttempts.js"></script>
