<div class="container-fluid h-100">
  <div class="row h-100">
    {{>dashboardNav}}
    <div class="col-sm-9 col-md-10">
      <div class="container" style="padding-top: 40px">
        <h3>Dashboard</h3>
        <hr>
      </div>
    </div>
  </div>
