<div class="container-fluid h-100">
  <div class="row h-100">
    {{>dashboardNav}}
    <div class="col-sm-9 col-md-10">
      <div style="padding: 30px">
        <h3>Dashboard</h3>
        <hr>
      </div>
    </div>
  </div>
</div>
