<div class="container" style="padding-top: 60px">
  <div class="row justify-content-center">
    <div class="col-xl-6 col-lg-6">
      <div class="card">
        <div class="card-body">
          {{#if valid}}
            <h4 class="card-title">Signup</h4>
            <form id="signupForm">
              <div id="signUpFormFields"></div>
              <button id="accept" type="submit" class="btn btn-success">Accept Invite</button>
              <button id="reject" type="submit" class="btn btn-danger">Reject Invite</button>
            </form>
          {{else}}
            <h4 class="card-title">Invite has expired or is not found</h4>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  body {
    background-color: #bbb;
  }
</style>
{{#if valid}}
  <script type="text/javascript" src="/public/scripts/invite/view.js"></script>
  <script>
    joiFormValue('name', '{{invite.name}}');
    joiFormValue('email', '{{invite.email}}');
  </script>
{{/if}}
